/Examen/BLL/.vs
/Examen/BLL/bin/Debug
/Examen/BLL/obj
/Examen/DAL/.vs
/Examen/DAL/bin/Debug
/Examen/DAL/obj
/Examen/ExamenGrupo5/.vs
/Examen/ExamenGrupo5/bin/Debug
/Examen/ExamenGrupo5/obj
/Examen/Querys/.vs
